{% include "base.html" %}

<body class="loginpage">
<form action = "/login" method="post" class = "center-doc center-doc-q">
  </br>
  <div class="center-doc-fields">
  </br>
    <div class="form-group login center-doc-fields">
      <label for="EmailControl">Email</label>
      <input type="text" class="form-control" id="EmailControl" placeholder="name@example.com" name="email">
    </div>
    </br>
  </br>
  
  <div class = "form-group login center-doc-fields">
    <label for="question7">  Enter your password. </label>
    <textarea name="password" class="form-control" id="question7" rows="1"></textarea>
  </div>
  </br>
  

  <button type="Log In" class="btn btn-primary login">Log In</button>
    </div>
</form>
</body>